@import url('https://fonts.googleapis.com/css?family=Karla');

body {
  background-color: black /*#385F71*/;
}

.header {
  font-family: 'Karla';
  font-size: 50px;
  color: white;
  text-align: center;
}

.button {
  font-size: 20px;
  color: black;
  background-color: #F5F0F6;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition-duration: .7s;
}

.button:hover {
  background-color: aquamarine;

}
