@import url('https://fonts.googleapis.com/css?family=Karla');

body {
  background-color: black /*#385F71*/;
  font-family: 'Karla';
  text-align: center;
}

.header {
  font-size: 30px;
  color: white;
/*  top: 600px; */
}

.button {
  font-size: 20px;
  color: black;
  background-color: white;
  height: 800px;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition-duration: .7s;
}

.button:hover {
  background-color: aquamarine;
}

h2 {
  font-size: 50px;
  color: white;
}

p {
  color: grey;
}

.footer {
  text-align: right
}
